/* version 2 */

body#FSLocal.formThumbnailPreview #fsHeaderImage
{
    text-align:left;
}

body#FSLocal.templateThumbnailPreview
{
    margin:70px 0 0 70px;
}

body#FSLocal.templateThumbnailPreview .fsForm
{
    margin:0;
}

body#FSLocal.templateThumbnailPreview #fsHeaderImage
{
    text-align:left;
}

#FSLocal .fsForm
{
    background:transparent;
}

#FSTopLogo
{
    position:absolute;
    top:0;
    right:9%;
    margin:0;
}

#FSTopLogo a
{
    width:150px;
    height:50px;
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/formstackLogo.png) no-repeat center center;
    display:block;
}

#FSTopLogo a span
{
    display:none;
}

.fsForm 
{
    font:13px/1.4 "Lucida Grande", Tahoma, "Helvetica Neue", Arial, Verdana, sans-serif;
    width:100%;
}

body#FSLocal .fsForm 
{
    display:table;
    width:640px;  
    margin:18px auto;        
}

.fsForm .fsTable
{
    text-align:left;
    padding:0 0 4px;
    border:none;
    margin:9px auto;
    width:100%;
}

form.fsSingleColumn,form.fsSingleColumn table.fsTable
{
}

form.fsMultiColumn,form.fsMultiColumn table.fsTable
{
}

.fsForm .fsSectionHeading
{
    font-size:20px;
    line-height:36px;
    font-weight:normal;
    margin:0;
}

.fsForm .fsCell
{
    padding:20px 0 0 0;
    vertical-align:top;
}

.fsSpacerRow td
{
    height:18px;
}

td.fsRowBody
{
    background-color:#fff;
}

.fsPage
{
}


.fsPaginationContent
{
    width:300px;
    text-align:center;
    margin:0 auto 18px;
}

.fsTable
{
}

.fsRow
{
}

.fsSectionRow + .fsFieldRow .fsCell
{
    padding-top:18px;
}

.fsFieldRow
{
}

.fsCell
{
}

.fsSectionCell
{
}

.fsSection
{
}

.fsSectionHeading
{
    font-size:150%;
    font-weight:700;
}

.fsSectionText
{
}

.fsLabel
{
    font-weight:700;
}

.fsRequiredLabel
{
}

.fsLabelVertical .fsLabel
{
    display:block;
}

.fsLabelHorizontal .fsLabel
{
    width:100px;
    margin-left:0;
    float:left;
}

.fsFieldHorizontal
{
    float:left;
}

.fsHiddenLabel
{
    display:none;
}

.fsSubField
{
    float:left;
    margin-right:5px;
}

.fsSupporting
{
    margin:4px 0;
    color:#777;
    font-size:11px;
}

.fsCallout
{
    position:absolute;
    width:360px;
    z-index:5;
}

.fsCalloutTop
{
    padding-top:21px;
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/calloutTop.png) no-repeat left top;
}

.fsCalloutBottom
{
    height:15px;
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/calloutBottom.png) no-repeat left bottom;
}

.fsCalloutBody
{
    padding:3px 12px 4px 16px;
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/calloutBody.png) repeat-y left center;
    color:#fff;
    text-shadow:0 1px 1px #000;
}

.fsCalloutBody a
{
    text-decoration:none;
    border-bottom:1px dotted;
    color:#ddd;
}

.fsCalloutBody a:hover
{
    color:#aaa;
}



#fsFooterImage
{
    clear:both;
    padding-top:20px;
}

.fsError
{
    width:620px;
    margin:15px auto;
    font-size:14px;
    background-color:#fee;
    color:#000;
    border:1px solid red;
    padding:10px;
    clear:both;
    text-align:center;
}

.fsPasswordForm td.fsRowBody
{
    text-align:center;
}

.fsPasswordForm label
{
    display:block;
    color:#777;
    font-size:13px;
}

.fsPasswordForm .fsRowBody input
{
    padding:5px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

.fsPasswordForm td.fsRowBody
{
    padding:18px 0 24px;
}

#fsPasswordError
{
    color:#d2010b;
    font-weight:bold;
}

.fsFieldFocused
{
    background-image:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/fieldFocusedBG.png);
}
.fsFieldFocused div.fsSupporting,.fsFieldFocused label.fsRequiredLabel span {
    color:#000;
} 

.fsReadOnly
{
    background-image:none;
}

/* @group Confirmation Ad */
#fsConfirmAd table
{
    width:600px;
    margin:36px auto;
}

#fsConfirmAd h2
{
    margin:0;
    padding:18px;
    text-align:center;
    font-size:18px;
    font-weight:normal;
    background:#42BD21;
    color:#fff;
    text-shadow:0 1px 0 #000;
}

#fsConfirmAd li
{
    margin-bottom:18px;
}

#fsConfirmAd img,#fsConfirmAd ul
{
    margin:18px;
}

#fsLearnMore
{
    display:block;
    height:25px;
    width:155px;
    font-size:16px;
    text-decoration:none;
    color:#333;
    text-shadow:0 1px 0 #fff;
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/buttonBG.png);
    line-height:25px;
    margin:18px auto;
}

/* @end */
/* @group Custom Field Appearance */
.fsFieldRow input[type=text],.fsForm textarea
{
    border:1px solid #999;
    background-color:#fff;
    background-image:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/fieldbg.png);
    background-repeat:repeat-x;
    background-position:top left;
    border-top:1px solid #7c7c7c;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-bottom:1px solid #ddd;
    color:#333;
    padding:4px;
    font-size:14px;
    line-height:18px;
    font-weight:bold;
}

.fsReadOnly input[type=text],.fsReadOnly textarea
{
    border:none;
    background-image:none;
}

.fsForm .fsReadOnly input[type=text].fsField:focus,.fsForm .fsReadOnly input[type=file].fsField:focus,.fsForm .fsReadOnly textarea.fsField:focus
{
    border:none;
}

.fsForm select
{
    font-size:15px;
    line-height:18px;
}

.fsRequiredLabel span
{
    padding-left:2px;
    color:#ba0000;
    font-size:16px;
    font-weight:bold;
    font-family:Verdana;
    height:16px;
}

.fsPagination .fsNextButton
{
    float:right;
    
}

.fsPagination .fsPreviousButton
{
    float:left;
    
}


.fsForm .fsLabel
{
    font-size:13px;
}

/* @end */

/* @group Drop Shadow & Section Gradient */
.fsSectionRow td.fsRowBody
{
    background-image:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopGradient.png);
    background-repeat:repeat-x;
    background-position:left top;
    padding-top:18px;
}

td.fsRowOpen,td.fsRowClose
{
    width:2px;
}

.fsRowTop td
{
    height:2px;
    background-color:transparent;
}

.fsRowBottom td
{
    height:3px;
    background-color:transparent;
}

.fsRowOpen
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBodyLeft.png) top right repeat-y;
}

.fsRowClose
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBodyRight.png) top left repeat-y;
}

.fsRowBody
{
    background-color:#fff;
}

.fsRowTop .fsRowOpen
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopLeft.png) right bottom no-repeat;
}

.fsRowTop .fsRowBody
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopMiddle.png) left bottom repeat-x;
}

.fsRowTop .fsRowClose
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopRight.png) left bottom no-repeat;
}

.fsRowBottom .fsRowOpen
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBottomLeft.png) right top no-repeat;
}

.fsRowBottom .fsRowClose
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBottomRight.png) left top no-repeat;
}

.fsRowBottom .fsRowBody
{
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBottomMiddle.png) repeat-x left top;
}

.fsNoShadow .fsRowOpen, .fsNoShadow .fsRowClose, .fsNoShadow .fsRowBottom .fsRowBody, .fsNoShadow .fsRowTop .fsRowBody {
	background-image: none;
}

/* 
being extra aggressive with the row hiding to 
accomodate IE and some extra whitespace between
section tables
*/

.fsNoSpacing .fsForm .fsFirstSection .fsRowBottom, 
.fsNoSpacing .fsForm .fsFirstSection .fsRowBottom *
{
	display: none;
	padding:0;
	margin:0;
}

.fsNoSpacing .fsForm .fsMiddleSection .fsRowTop, 
.fsNoSpacing .fsForm .fsMiddleSection .fsRowTop *, 
.fsNoSpacing .fsForm .fsMiddleSection .fsRowBottom,
.fsNoSpacing .fsForm .fsMiddleSection .fsRowBottom *
{
	display: none;
}

.fsNoSpacing .fsForm .fsLastSection .fsRowTop,
.fsNoSpacing .fsForm .fsLastSection .fsRowTop * 
{
	display: none;
}

.fsForm .fsTable {
	margin: 0;
	padding: 0;
}

.fsNoSpacing .fsForm .fsMiddleSection .fsSectionRow td.fsRowBody,
.fsNoSpacing .fsForm .fsLastSection .fsSectionRow td.fsRowBody { background-image:none; }

/* @end */
/* @group Validation */
td.fsValidationError
{
    background-color:#fcc  !important;
}

.fsValidationError .fsLabel
{
    color:#ba0000;
    padding-left:20px;
    background-image:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/validationAlert.png);
    background-repeat:no-repeat;
    background-position:left bottom;
}

.fsCounter
{
    position:absolute;
    font-size:18px;
    color:#ccc;
    font-family:'Georgia','Serif';
    text-align:right;
}

/* @end */
/* @group Captcha */
.fsCaptcha
{
    margin:0 auto 30px;
    width:205px;
    text-align:center;
    padding:5px;
    background:#fff;
    border:1px solid #777;
}

.fsCaptcha table
{
    border-collapse:collapse;
}

.fsCaptcha td
{
    border:solid 1px #333;
    padding:3px;
    text-align:center;
}

.captchaAudioLink img,.captchaReloadLink img
{
    border:0;
    background:#FFF;
}

.captchaEntry
{
    margin-top:5px;
}

.captchaError label
{
    font-weight:bold;
    color:red;
}

.captchaError .captchaEntry
{
    background-color:#fcc;
}

/* @end */
.fsResumeLink
{
    font-weight:bold;
    font-size:14px;
}

.fsProgress
{
    border:1px solid #ccc;
    width:104px;
    margin:9px auto;
}

.fsProgressBarContainer
{
    width:100px;
    height:10px;
    margin:1px;
    border:1px solid #ddd;
    background:#f4f4f4;
    position:relative;
    text-align:left;
}

.fsProgressBar
{
    width:0;
    height:10px;
    background:#ccc;
}

.fsProgressText
{
    z-index:10;
    line-height:10px;
    font-size:9px;
    text-align:center;
    width:100px;
    margin-top:-10px;
    padding-bottom:2px;
    color:#555;
}

.fsSaveIncomplete
{
    font-size:9px;
    color:#777;
    background-color:#fafafa;
    padding:2px;
}

.fsSaveIncomplete:visited {
    color:#777;
}

.fsSaveIncomplete:hover {
    color:#000;
}

.fsHiddenCell *,.fsHiddenCell .fsLabel
{
    display:none;
}

#fsSubmissionCheckmark
{
	width: 75px;
	height: 68px;
	float: left;
    background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/confirmationCheckmark.png);
}

.fsBlankSection { display:none; }

.fsMatrix
{
    margin:6px 0;
    border-collapse:collapse;
}

.fsMatrix th, .fsMatrix td
{
    text-align:center;
    padding:4px 0;
    font-weight:normal;
    width:75px;
    border-bottom:dotted 1px #ccc;
}

.fsMatrix th
{
    font-size:11px;
}

.fsMatrix td.fsMatrixLabel
{
    text-align:left;
    padding-right:8px;
    width:200px;
}

.fsMatrixCol1 {
	background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/black_translucent.png);
}
.fsMatrixCol2, .fsMatrixLabel {
	background:url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/white_translucent.png);
}

.fsCurrency
{
    font-size:16px;
    color:#555;
}

/* SLIDER */

.fsSliderBg {
    position: relative;    
    background: url(file:///Y|/BG%20Personnel/3135_Website-Consolidation/robert_sandbox/images/2/slider-bg.gif) no-repeat 5px 0;
    height: 28px;
    width: 108px;
    float:left;
}

.fsSliderBg .fsSliderThumb {
    position: absolute;
    cursor: default;
    top: 4px;
}

.fsSliderValue {
    float:left;
    margin-left:15px;
    font-size:14px;
    font-weight:bold;
    background-color:#f7f7f7;
    color:#333;
    padding:5px;
}

input.fsFormatCreditCard {
    margin-right:10px;
}

img.fsCreditCardLogo {
    vertical-align:top;
    border:solid 1px #777;
}

.discountcodeMsg {

    font-style: italic;
    font-size: x-small;

}

#recaptcha_area {

    margin-left: auto;
    margin-right:auto;
}

/* MOBILE ALERT */
#mobile-alert p { width: 100%; text-align: center !important; }
#mobile-alert input[type="submit"] { background: none; border: none; color: red; text-decoration: underline; cursor: pointer; }