
/*-------|| Shared Items ||------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol {
	list-style: decimal outside;	
	font-size: 14px;
	line-height: 22px;
	color: #333333;	
	margin: 0 0 0 20px;
}
ol ul {
	margin: 0 0 0 20px;	
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: none;
	background-color: #ffffff;
	font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
p {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}
a {
    color: #860038;
}
#wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 20px 0;
    min-height: 0px;
    padding: 0 0 20px 0;
    width: 100%;
}
#content {
	float: left;
    margin: 30px 2% 2% 2%;
    min-height: 400px;
    overflow: inherit;
    width: 98%;
}
body#home #content {
	margin-top:10px;
}
#content ul li {
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    list-style: disc outside none;
    margin-left: 20px;
}
#footer {
    background-color: #CCCCCC;
    float: left;
    height: auto;
    padding: 20px 0;
    width: 100%;
    margin: 0px;
}
#footer p {
    font-size: 12px;
    padding-bottom: 5px;
}
#footer a {
	display: block;
}

/*-------|| Main Page Items ||------*/
body.main {
    background-image: none;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    width: 100%;
}
#logoMain {
    background: url("img/mainLogo.jpg") no-repeat scroll center center transparent;
    height: 90px;
    margin: 0;
    width: 100%;
}
#contentMain {
    background: url("../light_industrial_staffing/img/mainBG.png") no-repeat scroll left top transparent;
    height: 100px;
    padding: 10px 0 0;
    width: 100%;
}
#navMain {
    background: url("img/mainNavBG.jpg") repeat-x scroll left top transparent;
    height: 50px;
    margin-top: 100px;
    width: 100%;
}
.navMainLogo {
    background: url("img/mainNavLogo.png") no-repeat scroll left center transparent;
    float: left;
    clear: both;
    height: 50px;
    margin-left: 20px;
    text-align: center;
    width: 200px;
}
.navMainLogo a {
    height: 50px;
    margin-left: 40px;
    text-decoration: none;
    width: 200px;
}
#navMain ul {
    color: #000000;
    float: left;
    clear: both;
}
#navMain ul li {
    float: left;
    clear: both;
    margin: 16px 35px 0 30px;
}
#navMain ul li a {
    color: #333333;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
}

/*-------|| Home Page Items ||------*/
body#home h1 {
	font-size: 20px;
	line-height:24px;
	margin-bottom: 10px;
	width: 100%;
}
#headerHome {
    height: auto;
    width: 100%;
}
#homeNavLogo {
    float: none;
    height: 43px;
    margin: 0 auto;
    width: 220px;
}
#navHome {
    float: left;
    height: auto;
    margin-top: 35px;
    width: 100%;
}
#navHome ul li.main {
	display: none;	
}
body#home #homeHeaderCircles {
    background: url("img/homeHeaderBG.jpg") no-repeat scroll left top transparent;
    height: 20px;
    width: 100%;
	position: absolute;
	top: 70px;
}
body#home #navHome ul {
    float: left;
	margin-left: 40px;
}
body#home #navHome ul li {
    float: left;
	clear: both;
    margin: 0 5px 0;
}
#navHome ul li a {
    color: #333333;
    font-size: 20px;
	line-height: 24px;
    text-decoration: none;
}
#navHome ul li a:hover {
    color: #860038;
    text-decoration: none;
}
#quotes {
    border-bottom: 10px solid #E0E0E0;
	border-top: 10px solid #E0E0E0;
    float: left;
    height: auto;
    margin-bottom: 20px;
    width: 98%;
}
.quotesImage {
    float: left;
    height: 120px;
    margin: 0 40px 0 20px;
    width: 100px;
}
.quotesImage img {
    height: 120px;
    width: 120px;
}
.quotesVerbiage {
    float: left;
    height: auto;
    width: 100%;
}
.quotesVerbiage h1 {
    color: #666666;
    margin-top: 10px;
}
.quotesPerson {
    float: right;
    height: 20px;
    text-align: right;
    width: 720px;
}
#blocks {
	float: none;
	margin: 10px auto;
	height: auto;
    min-height: 240px;
    width: 267px;
}
.blocksMiddle {
    margin: 0 40px 0 39px;
}
.blocksHeader {
	float: left;
    background: url("img/boxHeaderBG.jpg") no-repeat scroll left top transparent;
    height: 40px;
    width: 267px;
}
.blocksHeader h2 {
    color: #FFFFFF;
    padding: 10px 0 0 20px;
}
.blocksContent {
	float: left;
    background-color: #E0E0E0;
    height: auto;
	min-height: 160px;
    padding: 10px;
    width: 247px;
	margin-bottom: 20px;
}
#bottomLogo {
    background: url("img/homeLogo.jpg") no-repeat scroll right center transparent;
    float: right;
    height: 75px;
    margin: 20px 40px 20px 0;
    width: 150px;
}

/*-------|| Sub Page Items ||------*/
body#subPage #homeHeaderCircles {
   background: url("img/homeHeaderBG.jpg") no-repeat scroll left top transparent;
   height: 20px;
   width: 100%;
	position: absolute;
	top: 95px;
}
body#subPage #navHome ul li.main,
body#subPage #navHome ul li.applicants,
body#subPage #navHome ul li.clients,
body#subPage #navHome ul li.locations {
	display: none;
}
body#subPage #navHome {
	margin-top: 0;
}
body#subPage #navHome ul {
    float: left;
	margin-left: 10px;
}
body#subPage #navHome ul li {
    float: left;
    margin: 2px 0 0 0;
}
body#subPage #navHome ul li a {
    font-size: 22px;
}
body#subPage #content {
	width: 98%;
	margin: 2%;
}
#contentLeft {
    float: left;
    width: 100%;
	margin-top: 30px;
}
#contentLeft p {
/*    border-right: 1px solid #cecece; */
    display: block;
    float: left;
	clear: both;
	font-size: 17px;
    line-height: 26px;
    margin: 0;
    padding: 0 2%;
}
#contentLeft p.last {
	border-right: none;
}
#contentRight {
    float: left;
    padding: 20px 2% 0 2%;
    width: 96%;
}
#contentRight p {
	font-size: 16px;
	line-height: 22px;
	margin: 0 4% 0 2%;
}
#contentRight p strong {
    color: #860038;
	font-weight: bold;
}
#contentLeft p.paddingTop {
	padding-top: 0;	
	float: none;
}
.applicantsLeft {
	display: none;	
}

/*==============| Form CSS |====================*/
.fsForm {
	width: 98%
}
.fsPage {
	width: 98%;
}
.fsForm input[type="text"], .fsForm input[type="number"], .fsForm textarea {
	width: 90%;	
}

/* --------------------------------------------------------- */
.siaLogo_landing{
	background: none;
}

.siaLogo_subpage{
	background: none;
}


