
/*-------|| Shared Items ||------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
	width: 100%;
}
ol {
	list-style: decimal outside;	
	font-size: 14px;
	line-height: 22px;
	color: #333333;	
	margin: 0 0 0 20px;
}
ol ul {
	margin: 0 0 0 20px;	
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background-image: none;
	background-color: #ffffff;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
p {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
}
a {
    color: #860038;
}
#wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    min-height: 630px;
    padding: 0 0 110px;
    width: 100%;
}
#content {
	float: left;
    margin: 5% 2%;
    min-height: 400px;
    overflow: inherit;
    width: 96%;
}
#content ul li {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    list-style: disc outside none;
    margin-left: 20px;
}
#footer {
    background-color: #CCCCCC;
    float: left;
    height: 30px;
    padding: 20px 0;
    width: 100%;
    margin: 0px;
}
#footer p {
    font-size: 12px;
    margin-left: 20px;
}

/*-------|| Main Page Items ||------*/
body.main {
    background-image: none;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
}
#logoMain {
    background: url("img/mainLogo.jpg") no-repeat scroll right center transparent;
    height: 150px;
    margin: 0 40px 0 0;
    width: 100%;
}
#contentMain {
    background: url("../light_industrial_staffing/img/mainBG.png") no-repeat scroll left top transparent;
    height: 400px;
    padding: 20px 0 0;
    width: 100%;
}
#navMain {
    background: url("img/mainNavBG.jpg") repeat-x scroll left top transparent;
    height: 50px;
    margin-top: 150px;
    width: 100%;
}
.navMainLogo {
    background: url("img/mainNavLogo.png") no-repeat scroll left center transparent;
    float: left;
    height: 50px;
    margin-left: 40px;
    width: 160px;
}
.navMainLogo a {
    height: 50px;
    margin-left: 40px;
    text-decoration: none;
    width: 200px;
}
#navMain ul {
    float: right;
}
#navMain ul li {
    float: left;
    margin: 16px 10px 0;
}
#navMain ul li a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

/*-------|| Home Page Items ||------*/
body#home h1 {
	width: 100%;
}
#headerHome {
    height: 100px;
    width: 100%;
}
#homeNavLogo {
    background: url("img/homeNavLogo.jpg") no-repeat scroll left center transparent;
    float: left;
    height: 50px;
    margin: 10px 0 0 40px;
    width: 220px;
}
#navHome {
    float: right;
    height: 50px;
    margin-top: 0;
    width: 100%;
}
#homeHeaderCircles {
    background: url("img/homeHeaderBG.jpg") no-repeat scroll left top transparent;
    height: 85px;
    width: 100%;
}
#navHome ul {
    float: right;
}
#navHome ul li {
    float: left;
    margin: 16px 20px 0;
}
#navHome ul li a {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}
#navHome ul li a:hover {
    color: #860038;
    text-decoration: none;
}
#quotes {
    border-bottom: 10px solid #E0E0E0;
    float: left;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
.quotesImage {
    float: left;
    height: 120px;
    margin: 0 40px 0 20px;
    width: 100px;
}
.quotesImage img {
    height: 120px;
    width: 120px;
}
.quotesVerbiage {
    float: left;
    height: auto;
    width: 100%;
}
.quotesVerbiage h1 {
    color: #666666;
    margin-top: 10px;
}
.quotesPerson {
    float: right;
    height: 20px;
    text-align: right;
    width: 720px;
}
#blocks {
    float: left;
    height: auto;
	min-height: 240px;
	width: 30%;
	margin: 0 1.5%;
}
.blocksMiddle {
    margin: 0;
}
.blocksHeader {
    background: url("img/boxHeaderBG.jpg") repeat scroll left top transparent;
    height: auto;
    width: 100%;
}
.blocksHeader h2 {
    color: #FFFFFF;
    padding: 2%;
	font-size: 1.2em;
}
.blocksContent {
    background-color: #E0E0E0;
	float: left;
    height: auto;
	min-height: 340px;
    padding: 0;
    width: 100%;
}
.blocksContent p {
	padding: 4%;
}
.blocksContent ul {
	padding: 2% 4%;
}
#bottomLogo {
    background: url("img/homeLogo.jpg") no-repeat scroll right center transparent;
    float: right;
    height: 75px;
    margin: 20px 40px 20px 0;
    width: 150px;
}

/*-------|| Sub Page Items ||------*/
#contentLeft {
    float: left;
    width: 20%;
}
#contentLeft p {
    line-height: 22px;
}
#contentRight {
    float: right;
    padding-right: 2%;
    width: 75%;
}
#contentRight p strong {
    color: #860038;
}