body#FSLocal.formThumbnailPreview #fsHeaderImage {
    text-align: left;
}
body#FSLocal.templateThumbnailPreview {
    margin: 70px 0 0 70px;
}
body#FSLocal.templateThumbnailPreview .fsForm {
    margin: 0;
}
body#FSLocal.templateThumbnailPreview #fsHeaderImage {
    text-align: left;
}
#FSLocal .fsForm {
    background: none repeat scroll 0 0 transparent;
}
#FSTopLogo {
    margin: 0;
    position: absolute;
    right: 9%;
    top: 0;
}
#FSTopLogo a {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/formstackLogo.png") no-repeat scroll center center transparent;
    display: block;
    height: 50px;
    width: 150px;
}
#FSTopLogo a span {
    display: none;
}
.fsForm {
    font: 13px/1.4 "Lucida Grande",Tahoma,"Helvetica Neue",Arial,Verdana,sans-serif;
    width: 100%;
}
body#FSLocal .fsForm {
    display: table;
    margin: 18px auto;
    width: 640px;
}
.fsForm .fsTable {
    border: medium none;
    margin: 9px auto;
    padding: 0 0 4px;
    text-align: left;
    width: 100%;
}
form.fsSingleColumn, form.fsSingleColumn table.fsTable {
}
form.fsMultiColumn, form.fsMultiColumn table.fsTable {
}
.fsForm .fsSectionHeading {
    font-size: 20px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
}
.fsForm .fsCell {
    padding: 20px 0 0;
    vertical-align: top;
}
.fsSpacerRow td {
    height: 18px;
}
td.fsRowBody {
    background-color: #FFFFFF;
}
.fsPage {
}
.fsPaginationContent {
    margin: 0 auto 18px;
    text-align: center;
    width: 300px;
}
.fsTable {
}
.fsRow {
}
.fsSectionRow + .fsFieldRow .fsCell {
    padding-top: 18px;
}
.fsFieldRow {
}
.fsCell {
}
.fsSectionCell {
}
.fsSection {
}
.fsSectionHeading {
    font-size: 150%;
    font-weight: 700;
}
.fsSectionText {
}

.fsRequiredLabel {
}

.fsLabelHorizontal .fsLabel {
    float: left;
    margin-left: 0;
    width: 100px;
}
.fsFieldHorizontal {
    float: left;
}
.fsHiddenLabel {
    display: none;
}
.fsSubField {
    float: left;
    margin-right: 5px;
}
.fsSupporting {
    color: #777777;
    font-size: 11px;
    margin: 4px 0;
}
.fsCallout {
    position: absolute;
    width: 360px;
    z-index: 5;
}
.fsCalloutTop {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/calloutTop.png") no-repeat scroll left top transparent;
    padding-top: 21px;
}
.fsCalloutBottom {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/calloutBottom.png") no-repeat scroll left bottom transparent;
    height: 15px;
}
.fsCalloutBody {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/calloutBody.png") repeat-y scroll left center transparent;
    color: #FFFFFF;
    padding: 3px 12px 4px 16px;
    text-shadow: 0 1px 1px #000000;
}
.fsCalloutBody a {
    border-bottom: 1px dotted;
    color: #DDDDDD;
    text-decoration: none;
}
.fsCalloutBody a:hover {
    color: #AAAAAA;
}
#fsFooterImage {
    clear: both;
    padding-top: 20px;
}
.fsError {
    background-color: #FFEEEE;
    border: 1px solid red;
    clear: both;
    color: #000000;
    font-size: 14px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    width: 620px;
}
.fsPasswordForm td.fsRowBody {
    text-align: center;
}
.fsPasswordForm label {
    color: #777777;
    display: block;
    font-size: 13px;
}
.fsPasswordForm .fsRowBody input {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.fsPasswordForm td.fsRowBody {
    padding: 18px 0 24px;
}
#fsPasswordError {
    color: #D2010B;
    font-weight: bold;
}
.fsFieldFocused {
    background-image: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/fieldFocusedBG.png");
}
.fsFieldFocused div.fsSupporting, .fsFieldFocused label.fsRequiredLabel span {
    color: #000000;
}
.fsReadOnly {
    background-image: none;
}
#fsConfirmAd table {
    margin: 36px auto;
    width: 600px;
}
#fsConfirmAd h2 {
    background: none repeat scroll 0 0 #42BD21;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #000000;
}
#fsConfirmAd li {
    margin-bottom: 18px;
}
#fsConfirmAd img, #fsConfirmAd ul {
    margin: 18px;
}
#fsLearnMore {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/buttonBG.png") repeat scroll 0 0 transparent;
    color: #333333;
    display: block;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    margin: 18px auto;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 155px;
}

.fsReadOnly input[type="text"], .fsReadOnly textarea {
    background-image: none;
    border: medium none;
}
.fsForm input.fsField[type="text"]:focus, .fsForm input.fsField[type="file"]:focus, .fsForm textarea.fsField:focus {
    border-color: blue;
    outline: medium none;
}
.fsForm .fsReadOnly input.fsField[type="text"]:focus, .fsForm .fsReadOnly input.fsField[type="file"]:focus, .fsForm .fsReadOnly textarea.fsField:focus {
    border: medium none;
}
.fsPagination .fsNextButton {
    float: right;
}
.fsPagination .fsPreviousButton {
    float: left;
}
.fsSectionRow td.fsRowBody {
    background-image: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopGradient.png");
    background-position: left top;
    background-repeat: repeat-x;
    padding-top: 18px;
}
td.fsRowOpen, td.fsRowClose {
    width: 2px;
}
.fsRowTop td {
    background-color: transparent;
    height: 2px;
}
.fsRowBottom td {
    background-color: transparent;
    height: 3px;
}
.fsRowOpen {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBodyLeft.png") repeat-y scroll right top transparent;
}
.fsRowClose {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBodyRight.png") repeat-y scroll left top transparent;
}
.fsRowBody {
    background-color: #FFFFFF;
}
.fsRowTop .fsRowOpen {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopLeft.png") no-repeat scroll right bottom transparent;
}
.fsRowTop .fsRowBody {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopMiddle.png") repeat-x scroll left bottom transparent;
}
.fsRowTop .fsRowClose {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableTopRight.png") no-repeat scroll left bottom transparent;
}
.fsRowBottom .fsRowOpen {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBottomLeft.png") no-repeat scroll right top transparent;
}
.fsRowBottom .fsRowClose {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBottomRight.png") no-repeat scroll left top transparent;
}
.fsRowBottom .fsRowBody {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/stockTemplates/tableBottomMiddle.png") repeat-x scroll left top transparent;
}
.fsNoShadow .fsRowOpen, .fsNoShadow .fsRowClose, .fsNoShadow .fsRowBottom .fsRowBody, .fsNoShadow .fsRowTop .fsRowBody {
    background-image: none;
}
.fsNoSpacing .fsForm .fsFirstSection .fsRowBottom, .fsNoSpacing .fsForm .fsFirstSection .fsRowBottom * {
    display: none;
    margin: 0;
    padding: 0;
}
.fsNoSpacing .fsForm .fsMiddleSection .fsRowTop, .fsNoSpacing .fsForm .fsMiddleSection .fsRowTop *, .fsNoSpacing .fsForm .fsMiddleSection .fsRowBottom, .fsNoSpacing .fsForm .fsMiddleSection .fsRowBottom * {
    display: none;
}
.fsNoSpacing .fsForm .fsLastSection .fsRowTop, .fsNoSpacing .fsForm .fsLastSection .fsRowTop * {
    display: none;
}
.fsForm .fsTable {
    margin: 0;
    padding: 0;
}
.fsNoSpacing .fsForm .fsMiddleSection .fsSectionRow td.fsRowBody, .fsNoSpacing .fsForm .fsLastSection .fsSectionRow td.fsRowBody {
    background-image: none;
}
td.fsValidationError {
    background-color: #FFCCCC !important;
}
.fsValidationError .fsLabel {
    background-image: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/validationAlert.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #BA0000;
    padding-left: 20px;
}
.fsCounter {
    color: #CCCCCC;
    font-family: 'Georgia','Serif';
    font-size: 18px;
    position: absolute;
    text-align: right;
}
.fsCaptcha {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    margin: 0 auto 30px;
    padding: 5px;
    text-align: center;
    width: 205px;
}
.fsCaptcha table {
    border-collapse: collapse;
}
.fsCaptcha td {
    border: 1px solid #333333;
    padding: 3px;
    text-align: center;
}
.captchaAudioLink img, .captchaReloadLink img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
}
.captchaEntry {
    margin-top: 5px;
}
.captchaError label {
    color: red;
    font-weight: bold;
}
.captchaError .captchaEntry {
    background-color: #FFCCCC;
}
.fsResumeLink {
    font-size: 14px;
    font-weight: bold;
}
.fsProgress {
    border: 1px solid #CCCCCC;
    margin: 9px auto;
    width: 104px;
}
.fsProgressBarContainer {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #DDDDDD;
    height: 10px;
    margin: 1px;
    position: relative;
    text-align: left;
    width: 100px;
}
.fsProgressBar {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 10px;
    width: 0;
}
.fsProgressText {
    color: #555555;
    font-size: 9px;
    line-height: 10px;
    margin-top: -10px;
    padding-bottom: 2px;
    text-align: center;
    width: 100px;
    z-index: 10;
}
.fsSaveIncomplete {
    background-color: #FAFAFA;
    color: #777777;
    font-size: 9px;
    padding: 2px;
}
.fsSaveIncomplete:visited {
    color: #777777;
}
.fsSaveIncomplete:hover {
    color: #000000;
}
.fsHiddenCell *, .fsHiddenCell .fsLabel {
    display: none;
}
#fsSubmissionCheckmark {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/confirmationCheckmark.png") repeat scroll 0 0 transparent;
    float: left;
    height: 68px;
    width: 75px;
}
.fsBlankSection {
    display: none;
}
.fsMatrix {
    border-collapse: collapse;
    margin: 6px 0;
}
.fsMatrix th, .fsMatrix td {
    border-bottom: 1px dotted #CCCCCC;
    font-weight: normal;
    padding: 4px 0;
    text-align: center;
    width: 75px;
}
.fsMatrix th {
    font-size: 11px;
}
.fsMatrix td.fsMatrixLabel {
    padding-right: 8px;
    text-align: left;
    width: 200px;
}
.fsMatrixCol1 {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/black_translucent.png") repeat scroll 0 0 transparent;
}
.fsMatrixCol2, .fsMatrixLabel {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/white_translucent.png") repeat scroll 0 0 transparent;
}
.fsCurrency {
    color: #555555;
    font-size: 16px;
}
.fsSliderBg {
    background: url("file:///Y|/BG Personnel/3135_Website-Consolidation/robert_sandbox/images/2/slider-bg.gif") no-repeat scroll 5px 0 transparent;
    float: left;
    height: 28px;
    position: relative;
    width: 108px;
}
.fsSliderBg .fsSliderThumb {
    cursor: default;
    position: absolute;
    top: 4px;
}
.fsSliderValue {
    background-color: #F7F7F7;
    color: #333333;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    padding: 5px;
}
input.fsFormatCreditCard {
    margin-right: 10px;
}
img.fsCreditCardLogo {
    border: 1px solid #777777;
    vertical-align: top;
}
.discountcodeMsg {
    font-size: x-small;
    font-style: italic;
}
#recaptcha_area {
    margin-left: auto;
    margin-right: auto;
}
#mobile-alert p {
    text-align: center !important;
    width: 100%;
}
#mobile-alert input[type="submit"] {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: red;
    cursor: pointer;
    text-decoration: underline;
}
